@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
  margin-bottom: 120px;
  background-image: url('../images/fon1.jpg');
  height: 950px;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/key.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 317px;
    height: 274px;
    top: 760px;
    left: 45%;
  }

  &__top {
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 108px;
    position: relative;


    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/drel.png');
      background-repeat: no-repeat;
      background-size: cover;
      top: -24px;
      right: 264px;
      width: 293px;
      height: 234px;
      z-index: 1;
    }
  }

  &__logo {
    margin-right: 20px;
    cursor: pointer;
  }

  &__burger {
    right: 17px;
    top: 45px;
    position: fixed;
    cursor: pointer;
    display: none;
    // position: relative;
    width: 35px;
    height: 26px;
    z-index: 20;
    transition: all .3s ease 0s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #000;
      left: 0;

    }

    &::before {
      top: 0px;
    }

    &::after {
      bottom: 0px;
    }
  }

  &__burger-span {
    width: 35px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 11px;
    left: 0;

  }

  &__menu {
    transition: all .3s ease 0s;
    display: flex;
    z-index: 2;
    overflow: hidden;

    &.active {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &__menu-list {
    padding: 0 25px;
  }

  &__menu-link {
    color: #000;
    font-size: 25px;
    line-height: 29px;
    font-variant: all-small-caps;
    transition: all .3s;

    &:hover {
      color: rgba(0, 149, 233, 1);
      text-decoration-line: underline;
      transition: all .3s;
    }
  }

  &__phone {
    background-color: #fff;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
    border-radius: 1e+15px;
    padding: 19px 38px 18px;
  }

  &__phone-link {
    color: #000;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
  }

  &__phone--min {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none;

  }

  &__phone-link--min {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  &__phone-img {
    margin: auto;
  }

  &__title {
    color: rgba(255, 199, 0, 1);
    font-size: 70px;
    line-height: 82px;
    text-transform: uppercase;
    margin-bottom: 80px;
  }

  &__list {
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    @extend %roboto-400;
    margin-bottom: 83px;
    position: relative;
    padding-left: 85px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      background-repeat: no-repeat;
    }
  }

  &__list--time {
    &::before {
      top: -20px;
      width: 64px;
      height: 74px;
      background-image: url('../images/icon/time.svg');
    }
  }

  &__list--term {
    &::before {
      top: -23px;
      width: 67px;
      height: 87px;
      background-image: url('../images/icon/doc.svg');
    }
  }

  &__list--guarantee {
    &::before {
      top: -28px;
      width: 65px;
      height: 90px;
      background-image: url('../images/icon/medal.svg');
    }
  }


  &__btn {
    @extend %btn;
  }
}

.fixed {
  position: fixed;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 48, 71, 0.3);
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target .popup__body {
    transform: translate(0, 0);
    opacity: 1;
  }

  &__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__body {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: #EDF9FF;
    transition: all 0.8s;
    opacity: 0;
    transform: translate(0, -100%);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    color: #414141;
  }

  &__title {
    font-size: 35px;
    line-height: 41px;
    @extend %roboto-700;
    margin-bottom: 33px;
  }

  &__text {
    @extend %roboto-400;
    font-size: 25px;
    line-height: 60px;
  }

  &__form {

    text-align: right;
  }

  &__input {
    background-color: #fff;
    border: 3px solid #76CEFF;
    border-radius: 1e+15px;
    padding: 19px 53px 18px;
    margin-bottom: 30px;

    &:focus {
      outline: none;
      border: 3px solid rgba(118, 206, 255, 1);
      border-radius: 1e+15px;
    }

    &::placeholder {
      font-size: 20px;
      line-height: 23px;
      text-transform: capitalize;
      @extend %roboto-500;
      color: #AEAEAE;
    }
  }

  &__btn {
    @extend %btn;
    font-size: 20px;
    line-height: 23px;
    @extend %roboto-500;
  }
}

.advantages {

  text-align: center;
  margin-bottom: 120px;

  &__title {
    @extend %title;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 29px;
    grid-row-gap: 39px;
    margin-bottom: 60px;
  }

  &__img {
    margin: 0 auto;
    padding-bottom: 13px;
    display: block;
  }

  &__picture {
    position: relative;
    width: 100px;
    margin: 0 auto;
  }

  &__num {
    z-index: -1;
    position: absolute;
    top: -37px;
    left: -65px;
    font-size: 110px;
    line-height: 129px;
    @extend %roboto-700;
    color: #FFF5D1;
    filter: blur(2px);
  }

  &__item-text {
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    @extend %roboto-500;
    color: #414141;
  }

  &__btn {
    @extend %btn;
  }
}

.services {
  margin-bottom: 120px;

  &__title {
    @extend %title;
  }

  &__inner {
    margin: 0 20px 120px 20px;
    text-align: center;
  }

  &__items-min {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
  }

  &__item {
    max-width: 400px;
    margin: 0 auto 60px;
    height: 500px;
    display: block;
    position: relative;

    &:hover .services__item-btn {
      opacity: 1;
      transition: all .3s;
    }

    &:hover .services__item-box {
      display: none;
      transition: all .3s;
    }
  }

  &__item-img {
    width: 403px;
    height: 400px;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 15px;
  }


  &__item-btn {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 302px;
    right: 23%;
    @extend %roboto-500;
    font-size: 20px;
    line-height: 23px;
    font-variant: all-small-caps;
    color: #fff;
    background-color: #0095E9;
    border-radius: 100px;
    border: none;
    padding: 19px 48px 18px 49px;
    box-shadow: 0 0 10px #0095E9;
    transition: all .3s;

    &:active {
      background-color: #54C1FF;
      box-shadow: none;
    }
  }

  &__item-box {

    padding-top: 70px;
    border: 0.5px solid #AEAEAE;
    border-radius: 25px;
    max-width: 400px;
    margin: -70px auto 0;
  }

  &__text {
    font-size: 20px;
    line-height: 23px;
    color: #414141;
    font-variant: all-small-caps;
    margin-bottom: 15px;
  }

  &__price {
    font-size: 30px;
    line-height: 35px;
    text-transform: lowercase;
    color: #0095E9;
    margin-bottom: 14px;
  }

  &__items-max {
    display: none;
  }

  &__max {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
  }

  &__btn {
    font-size: 20px;
      line-height: 23px;
      font-variant: all-small-caps;
      color: #FFFFFF;
      @extend %roboto-500;
      padding: 18px 49px 19px;
    margin: 0 auto;
    background: #FFC700;
      opacity: 0.8;
      width: 250px;
      height: 60px;
      border-radius: 999999px;
      border: none;
      cursor: pointer;
outline: none;
        &:hover {
          opacity: 1;
        }
      
        &:active {
          background-color: #FFE175;
          border: #FFE175;
        }
  }

  &__items-max--active {
    display: block;
  }

  &__items-max--disactive {
    display: none;
  }
}

.checkout {
  margin-bottom: 120px;
  position: relative;
  height: 2000px;

  &::before {
    content: '';
    position: absolute;
    background-color: #FFC700;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 25px #FFC700;
    top: 1234px;
    z-index: 2;
    left: 887px;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('../images/key2.svg');
    top: 739px;
    left: 156px;
    width: 270px;
    height: 350px;
  }

  &__title {
    @extend %title;
    margin-bottom: 60px;
  }

  &__inner {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-color: #FFC700;
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0 0 25px #FFC700;
      top: 250px;
      left: 472px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/vector1.svg);
      background-repeat: no-repeat;
      top: 261px;
      left: 510px;
      width: 374px;
      height: 280px;
    }
  }

  &__master {
    position: absolute;
    top: 230px;
    right: 0;

    &::before {
      content: '';
      position: absolute;
      background-color: #FFC700;
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0 0 25px #FFC700;
      top: 270px;
      left: -10px;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: #FFC700;
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0 0 25px #FFC700;
      top: 463px;
      left: -10px;
    }
  }

  &__num {
    font-size: 200px;
    line-height: 234px;
    @extend %roboto-700;
    color: #DAF2FF;
    filter: blur(3px);
    position: absolute;
    margin-top: -118px;
    margin-left: 24px;
    z-index: -1;
    display: block;
  }

  &__payment {
    position: absolute;
    top: 1350px;
    right: 37px;

    &::before {
      content: '';
      position: absolute;
      background-color: #FFC700;
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0 0 25px #FFC700;
      top: -4px;
      left: 234px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/vector3.svg);
      background-repeat: no-repeat;
      top: -240px;
      left: -197px;
      width: 441px;
      height: 263px;
    }
  }

  &__work {
    position: absolute;
    top: 978px;
    left: 19px;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/vector2.svg);
      background-repeat: no-repeat;
      top: -287px;
      left: 278px;
      width: 588px;
      height: 261px;
    }

    &::before {
      content: '';
      position: absolute;
      background-color: #FFC700;
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0 0 25px #FFC700;
      top: -7px;
      left: 270px;
    }

  }

  &__item {
    max-width: 570px;
  }

  &__form-text {
    font-size: 25px;
    line-height: 29px;
    text-align: start;
    @extend %roboto-500;
    color: #414141;
  }

  &__text {
    font-size: 25px;
    line-height: 29px;
    text-align: start;
    @extend %roboto-500;
    color: #414141;
    padding-left: 30px;
  }

}


.form-request {
  padding: 64px 75px 76px 75px;
  max-width: 450px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  color: #414141;
  margin-bottom: 40px;

  &__title {
    @extend %roboto-500;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 5px;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    @extend %roboto-400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 60px;

  }

  &__input {
    border: none;
    border-bottom: 1px solid #414141;
    width: 100%;
    margin-bottom: 32px;
    padding: 10px 10px 5px 0;
    font-size: 25px;
    color: rgba(255, 199, 0, 1);

    &::placeholder {
      font-size: 15px;
      line-height: 18px;
      color: #B0B0B0;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid #FFC700;
    }

  }

  &__btn {
    margin: 30px auto 0;
    display: block;
    @extend %btn;
  }
}

.form-next {
  width: 450px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  text-align: center;
  color: #414141;
  margin-bottom: 40px;
  display: none;

  &__title {
    font-size: 35px;
    line-height: 41px;
    @extend %roboto-500;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 23px;
    @extend %roboto-400;
  }

}

.form-next.form-request--active {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.form-request--none {
  display: none;
}

.consultation {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EDF9FF;
  margin-bottom: 120px;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    color: #414141;
    padding: 0 20px 0 20px;
  }

  &__title {
    font-size: 35px;
    line-height: 41px;
    @extend %roboto-700;
    margin-bottom: 33px;
  }

  &__text {
    @extend %roboto-400;
    font-size: 25px;
    line-height: 60px;
  }

  &__form {
    margin: auto;
    text-align: center;

  }

  &__input {
    background-color: #fff;
    border: 3px solid #76CEFF;
    border-radius: 1e+15px;
    padding: 19px 45px 18px;
    width: 240px;
    margin-bottom: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 23px;
      text-transform: capitalize;
      @extend %roboto-500;
      color: #AEAEAE;
    }

    &:focus {
      outline: none;
      border: 3px solid rgba(118, 206, 255, 1);
      border-radius: 1e+15px;
    }
  }

  &__btn {
    margin: 0;
    background-color: rgb(252, 198, 5);
    border-radius: 1e+15px;
    border: none;
    color: #fff;
    font-variant: all-small-caps;
    padding: 18px 43px 18px 44px;
    font-size: 20px;
    line-height: 23px;
    @extend %roboto-500;
    width: 250px;
    opacity: 0.8;

  &:not([disabled]):hover {
      opacity: 1;
      cursor: pointer;
    }

    &:not([disabled]):active {
      background-color: #FFE175;
    }
  }
}

.price {
  margin-bottom: 120px;
  text-align: center;

  &__title {
    @extend %title;
  }

  &__table {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    font-variant: all-small-caps;
    @extend %roboto-400;
    color: #414141;
    border-collapse: collapse;
    border: 1px solid #B4B4B4;
    border-radius: 25px;
    display: block;
    max-width: 900px;
    width: 100%;
    margin-bottom: 60px;
  }

  &__table-title {
    background-color: #0095E9;
    color: #fff;
    font-size: 25px;
    line-height: 29px;
    font-variant: all-small-caps;
    @extend %roboto-500;

    .price__table-td--left {
      border: none;
      border-right: 1px solid #B4B4B4;
    }

    .price__table-td--right {
      border: none;
    }
  }

  &__table-td--left {
    width: 800px;
    height: 60px;
    border-top: 1px solid #B4B4B4;
    border-radius: 25px 0 0;
    border-right: 1px solid #B4B4B4;

  }

  &__table-td--right {
    width: 200px;
    height: 60px;
    border-top: 1px solid #B4B4B4;
    border-radius: 0 25px 0 0px;
  }

  &__btn {
    @extend %btn;
    font-size: 20px;
    line-height: 23px;
    font-variant: all-small-caps;
    @extend %roboto-500;
    cursor: pointer;

  }
}

.info {
  margin-bottom: 145px;
  text-align: center;

  &__title {
    font-size: 50px;
    line-height: 59px;
    color: #000;
    @extend %roboto-700;
    text-transform: capitalize;
  }

  &__subtitle {
    font-size: 50px;
    line-height: 59px;
    color: #000;
    @extend %roboto-400;
    margin-bottom: 60px;
  }

  &__inner {
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    max-width: 750px;
    font-size: 20px;
    line-height: 23px;
    @extend %roboto-400;
    color: #000000;
  }

  &__item {
    padding-left: 90px;
    position: relative;
    margin-bottom: 60px;
    text-align: left;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icon/check.svg');
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      width: 51px;
      height: 37px;
    }
  }

  &__img {
    object-fit: cover;
    margin-top: -15px;
    margin-right: -15px;
    width: 500px;
    height: 500px;

  }
}

.footer {
  background-color: #343434;
  background-position: center;

  &__logo {
    margin: 48px auto 70px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    flex-wrap: wrap;

  }

  &__item {
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0 20px 30px;
    @extend %roboto-700;

    a {
      color: #FFFFFF;
      @extend %roboto-400;
      display: block;
      width: 100%;
    }
  }

  &__info-tel {
    margin-right: 100px;
  }




  .footer-bottom {
    background-size: cover;
    background-color: #242424;

    &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 24px 0 23px;

      span {
        width: 110px;
      }
    }

    &__copyright {
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #fff;
      @extend %roboto-400;
      margin-right: 20px;
    }

    &__social {
      display: flex;

    }

    &__icon {
      padding-left: 20px;

      &:hover {
        svg {
          path {
            fill: #FFC700;
          }
        }
      }
    }
  }
}


@import 'media';